* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgba(253, 162, 177, 0.24);
}

header {
    width: 100%;
    background-color: white;
    padding: 32px 64px;
}

.foto {
    border: 3px solid #ffc700;
    border-radius: 50%;
    margin-bottom: -100px;
    margin-right: 24px;
}

.dados {
    display: inline-block;
    margin-bottom: 16px;
}

h1, h2, h3 {
    margin: 0;
}

h1 {
    font-family: 'Playfair Display', serif;
    font-weight: normal;
    font-size: 44px;
}

h1 span {
    font-weight: bold;
}

h3 {
    font-weight: normal;
    font-family: 'Open Sans', sans-serif; 
    font-size: 16px;
}

p {
    font-family: 'Open Sans', sans-serif; 
}

main {
    display: flex;
    padding: 40px 70px;
}

.profissao {
    font-size: 18px;
}

.t60 {
    color: rgba(0, 0, 0, 0.6);
}


.coluna-menor {
    margin-top: 40px;
    width: 23%;
}

.linha {
    width: 80px;
    border-top: 2px solid;
    margin-top: 8px;
}

.experiencias .linha {
    border-color: #4200ff;
}

.coluna-menor img {
    width: 40px;
    height: 40px;
    border-radius: 4px;
    margin-right: 8px;
}

.coluna-menor li {
    margin-top: 24px;
    display: flex;
}

.conteudo {
    display: inline-block;
}

ul, ol {
    list-style-type: none;
}

.formacao {
    margin-top: 32px;
}

.formacao .linha {
    border-color: #ffc700;
}

.coluna-maior {
    border: 2px solid black;
    margin-left: 24px;
}

.habilidades h2 {
    font-size: 50px;
    margin-bottom: 20px;
}